@import '~modern-normalize/modern-normalize.css';

@font-face {
    font-family: cinzel;
    src: url(./fonts/cinzel-regular.ttf);
}

@font-face {
    font-family: noto-serif;
    src: url(./fonts/notoserif-regular.ttf);
}